.hero_pages{
    width: 100%;
    height: 100vh;
    background-color: #FBE0D7;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}
.hero_pages_center{
    text-align: center;
    max-width: 100%;
    width: 1300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 999!important;
}
.hero_pages_info{
    max-width: 100%;
    width: 600px;
}
.hero_pages_info h1{
    padding-bottom: 10px;
    margin: 0;
}
.container_search{
    margin-top: 30px;
    max-width: 100%;
    width: 600px;
    padding: 10px;
    border-radius: 50px;
    background-color: #fff;
    box-shadow: 0 4px 40px rgba(0, 0, 0, 0.10);
    border: 1px solid #B5B5B5;
    display: flex;
}
.container_search input{
    flex:4;
    padding: 10px;
    border-radius: 50px 0 0 50px;
    border: none;
}
.container_search button{
    cursor: pointer;
    flex:1;
    font-size: 18px;
    font-weight: 600;
    border-radius: 50px;
    border: none;
    padding: 13px 10px 13px 10px;
    background: linear-gradient(135deg, #FFAA8E, #F16334);
    transition: background 0.3s ease;
}
.container_search button:hover{
    background: linear-gradient(135deg, #F16334, #FFAA8E);
}