.hero_pages{
    width: 100%;
    height: 100vh;
    background-color: #FBE0D7;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.hero_pages_center{
    text-align: center;
    max-width: 100%;
    width: 1300px;
    display: flex;
}

.upload-box {
    background: rgba(255, 255, 255, 0.35);
    backdrop-filter: blur(12px);
    padding: 40px;
    width: 100%;
    border-radius: 20px;
    box-shadow: 0 5px 20px rgba(0,0,0,0.15);
}

.upload-area {
    border: 3px dashed rgba(255,255,255,0.7);
    padding: 60px 20px;
    border-radius: 20px;
    text-align: center;
    position: relative;
    cursor: pointer;
    transition: 0.3s;
}

.upload-area:hover {
    background: rgba(255,255,255,0.15);
}

#file-input {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
}

.box-icon {
    width: 90px;
    margin-bottom: 10px;
}

/* Contador */
.counter {
    margin-top: 15px;
    font-size: 17px;
    font-weight: 600;
    color: #333;
}

/* Toggle switch */
.toggle {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
    font-size: 17px;
    color: #333;
    cursor: pointer;
}

.toggle input {
    display: none;
}

.slider {
    width: 45px;
    height: 24px;
    background: #ccc;
    border-radius: 20px;
    position: relative;
    transition: 0.3s;
}

.slider::before {
    content: "";
    width: 20px;
    height: 20px;
    background: white;
    border-radius: 50%;
    position: absolute;
    left: 2px;
    top: 2px;
    transition: 0.3s;
}

.toggle input:checked + .slider {
    background: #4CAF50;
}

.toggle input:checked + .slider::before {
    transform: translateX(21px);
}
