/*Importação das fontes*/

*{
    padding: 0;
    margin: 0;
    font-family: "Poppins";

}
html, body{
    width: 100%;
    margin: 0;
    padding: 0;
}
html, body{
    display: flex;
    flex-direction: column;
}
.main{
    flex: 1;
}
p{
    line-height: 25px;
    color:#313131;
}
h2{
    font-size: 35px;
    font-weight: 600;
    margin-bottom: 5px;
    color:#0C0C0C;
}
h3{
    margin: 15px 0 5px 0;
    color: #0C0C0C;
}
h1 {
    font-size: 32px;
    font-weight: 700;
}
.header_nav, .hero_pages, .hero, .ferramentas, .beneficios, .secao,.footer{
    padding-left: 10px;
    padding-right: 10px;
    box-sizing: border-box;
}